# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp

# Environments
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
*.pot
local_settings.py
db.sqlite3
media

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Docker
*.env
docker-compose.override.yml
